<nav class="navbar navbar-expand navbar-light bg-white sticky-top pl-0" style="top:58px;">
  <div class="d-flex align-items-center justify-contents-start">
    <a class="btn btn-light btn-ion-icon btn-circle" [tooltip]="'Back'" [routerLink]="['../']">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
    <h1 class="navbar-brand mb-0 ml-3"> Dashboard</h1>
  </div>
</nav>

<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 85vh;">
  <ion-icon name="bar-chart" class="text-light" style="font-size: 20rem;"></ion-icon>
</div>